@use "variables" as v;

footer {
    height: 30vh;
    width: auto;
    background-color: v.$Violeta;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;

    h3 {
        font-size: 25px;
        color: v.$Negro;
        font-weight: 100;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .navf ul{
        height: 20vh;
        width: auto;
        list-style: none;
        @include v.flex (column, wrap, center, center);

        .logo-rswsp{
            height: 10vh;
            width: auto;
            position: fixed;
            bottom: 40px;
            right: 40px;
            animation: vibrate 2s infinite;
            animation-delay: 2s;
        }

        .logo-rs{
            height: 15vh;
            width: auto;
            padding: 20px;
        }
    }
    @include v.tablet{
        h3{
            font-size: 20px;
        }
    }
    @include v.mobile{
        h3{
            font-size: 15px;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
        .navf{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            text-align: center;

        }
        .navf ul{
            padding: 0 20px;
            .logo-rs{
                height: 60px;
            }
        }
    }
}

@keyframes vibrate{
    0%{
        transform: translateX(0) translateY(0);
    }
    20%{
        transform: translateX(0) translateY(-15px);
    }
    4%{
        transform: translateX(-15px) translateY(-15px);
    }
    60%{
        transform: translateX(-15px) translateY(-15px);
    }
    80%{
        transform: translateX(0) translateY(-15px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}