@use "variables" as v;

.main-tienda {
    height: 125vh;
    width: auto;

    .section-tienda {
        height: 120vh;
        width: auto;
        list-style: none;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: start;
        justify-content: space-between;
        align-content: space-around;

        .article-tienda{
            .img-tienda{
                height: 45vh;
                width: auto;
                padding: 10px;
                border: 2px solid v.$Negro;
                border-radius: 10px;
                transition: all 2s ease-in-out;
                transform-origin: center;
            }
            img:hover{
                animation: scale 2s forwards;
                animation-delay: 1s;
            }
            .pf{
                @extend %pf;
            }
            .b{
                @extend %pf;
                border: 3px solid v.$Violeta;
            }
            .c{
                @extend %pf;
                border: none;
            }
            .d{
                @extend %pf;
                border: 4px solid v.$Azul;
            }
            .e{
                @extend %pf;
                border-color: v.$Amarillo;
            }
            .f{
                @extend %pf;
                border-color: v.$Naranja;
            }
            .precio{
                height: 5vh;
                width: auto;
                font-size: 20px;
                font-weight: 20px;
                @include v.flex(column, wrap, center, center)
            }
        }
    }
    @include v.tablet{
        .section-tienda{
            .article-tienda{
                .pf{
                    font-size: 23px;
                }
                .precio{
                    font-size: 17px;
                }
            }
        }
    }
    @include v.mobile {
        .section-tienda {
            .article-tienda{
                .img-tienda{
                    height: 30vh;
                }
                .pf{
                    font-size: 20px;
                }
                .precio{
                    font-size: 15px;
                }
            }
        }
    }
}

@keyframes scale {
    0% {
        scale: 1;
        border-radius: 15px;
    }

    100% {
        scale: 1.5;
        border-radius: 15px;
    }
}