@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$Violeta: violet;
$Blanco: white;
$Negro: black;
$Amarillo: yellow;
$Naranja: orange;
$Azul: blue;
$Bebas: Bebas Neue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Bebas;
}

body{
    height: 150vh;
    width: auto;
}

@mixin tablet{
    @media (min-width: 451px) and (max-width: 800px){
        @content;
    }
}

@mixin mobile{
    @media (min-width: 320px) and (max-width: 450px){
        @content;
    }
}

@mixin flex($fd, $fw, $jc, $ai){
    display: flex;
    flex-direction: $fd;
    flex-wrap: $fw;
    justify-content: $jc;
    align-items: $ai;
}

%pf{
    height: 5vh;
    width: auto;
    font-size: 30px;
    border: 2px solid $Negro;
    border-radius: 5px;
    @include flex (column, wrap, center, center)
}
